/* The main CSS file for jDMA. */

/******************************************************************************
 * general page layout
 *****************************************************************************/

/* the page height (for firefox) */
BODY, HTML
{
  min-height: 100%;
  height:     100%;
  width:      100%;
  padding:    0;
  margin:     0;
}

/* basic font and background */
BODY
{
  font-family:      Helvetica, Arial, sans-serif;
  font-size:        100%;
  color:            black;
  background-color: white;
  height:           100%;
  width:            100%;
}

/******************************************************************************
 * page
 *****************************************************************************/

DIV.page
{
  padding: 60px 1em 0 2em;
}

H1
{
  font-weight: bolder;
  font-size:   x-large;
  color:       #880000;
  padding:     1em 0 1em 0;
  margin:      0;
}

H1.entrytitle
{
  display:        inline-block;
}

H2
{
  font-weight: bold;
  font-size: large;
  color: #880000;
  padding: 1em 0 1em 0;
  margin: 0;
}

DIV.subtitletext, DIV.subtitletext A
{
  font-size:  x-small;
  color:      #CCCCCC;
}

.doc-link
{
  float:       right;
  margin-left: 5px;
}

.dma-formatted, .text-formatted
{
  white-space: pre;
  font-family: monospace;
}

/******************************************************************************
 * header
 *****************************************************************************/

#header
{
  border-bottom:    solid 1px #88a;
  background-color: #eef;
  width:            100%;
  position:         fixed;
  color:            #09b;
  font-size:        small;
  padding:          5px 10px;
  box-shadow:       0 1px 3px #777;
  z-index:          1;
}

#header-left
{
  margin-bottom: 1px;
}

#header-right
{
  float:        right;
  text-align:   right;
  margin-right: 20px;
}

#navigation
{
}

.user
{
  color: #09b;
}

.sprite
{
  background-image: url('/icons/icons.png');
  width:            10px;
  height:           10px;
  display:          inline-block;
  cursor:           pointer;
}

#home
{
  background-position: 0;
}

#login-icon, .login
{
  background-position: -120px;
}

#logout-icon
{
  background-position: -110px;
}

.library
{
  background-position: -20px;
}

.search
{
  background-position: -10px;
}

.about
{
  background-position: -30px;
}

#search INPUT
{
  font-size: 60%;
  display: none;
}

A.navigation-link
{
  color: inherit;
}

DIV.entry-nav
{
  text-align: center;
  margin:     5px 0;
}

DIV.entry-nav DIV
{
  margin: 0 2px;
}

DIV.first
{
  background-position: -130px;
}

DIV.previous
{
  background-position: -150px;
}

DIV.index
{
  background-position: -170px;
}

DIV.next
{
  background-position: -160px;
}

DIV.last
{
  background-position: -140px;
}

DIV.add
{
  margin-left:         10px !important;
  background-position: -180px;
}

DIV.remove
{
  background-position: -190px;
}

/******************************************************************************
 * about
 *****************************************************************************/

DIV.ixitxachitl
{
  background-image: url('/icons/Ixitxachitls.png');
  float: right;
  margin-left: 10px;
  width: 145px;
  height: 180px;
}

DIV.ixitxachitl:hover
{
  background-image: url('/icons/Ixitxachitls-highlight.png');
}

/******************************************************************************
 * validation
 ******************************************************************************/

INPUT.invalid
{
  color:            #800;
  background-color: #fff0f0;
}

/******************************************************************************
 * login
 *****************************************************************************/

#login LABEL
{
  padding-top: 5px;
  font-size:   75%;
  color:       #888;
  display:     block;
  text-align:  left;
}

#login LABEL INPUT
{
  font-size:    120%;
  border-style: solid;
  border-width: 1px;
  border-color: #008;
  display:      block;
}

DIV.login LABEL
{
  font-size:  75%;
  color:      #888;
  display:    block;
  text-align: left;
}

#login-error
{
  color:      #800;
}

/******************************************************************************
 * footer
 *****************************************************************************/

/* the page footer */
DIV.footer
{
  color:       #4b3500;
  font-size:   75%;
  text-align:  center;
  padding-top: 5px;
  height:      40px;
  position:    relative;
}

DIV.footer DIV.version
{
  font-size:     70%;
  color:         #ccc;
  margin-bottom: 3px;
}


/******************************************************************************
 * entry
 *****************************************************************************/

IMG.main-image
{
  border:       1px solid #ccc;
  padding:      5px;
  margin:       0 10px 0 0;
  display:      inline-block;
  box-shadow: 1px 1px 3px #777;
}

DIV.mainimage IMG.image
{
  max-height: 100px;
  max-width:  100px;
}

DIV.files
{
  margin-top:  -20px;
  padding-top: 2px;
  border-top:  1px solid #ddd;
  min-height:  10px;
}

DIV.files IMG
{
  border:     1px solid #ccc;
  max-width:  50px;
  max-height: 50px;
  margin:     2px;
  padding:    2px;
}

DIV.value
{
  width:         100%;
  margin-bottom: 1px;
  position:      relative;
}

DIV.value:hover DIV.value-label-container
{
  background-color: #800;
}

DIV.value-label-container
{
  position:    absolute;
  height:      100%;
  width:       150px;
  text-align:  right;
  font-weight: bold;
}

DIV.value-label
{
  padding:     5px;
}

DIV.value-content
{
  padding:          5px;
  background-color: #eee;
  margin-left:      151px;
  min-height:       1.125em;
}

DIV.textblock.desc {
  border:     none;
  margin:     0;
  padding:    0 0 1em 0;
  color:      #444;
  text-align: justify;
}

/******************************************************************************
 * entry lists
 *****************************************************************************/

TABLE.entrylist
{
  padding: 0 10px;
  width:  100%;
}

TABLE.entrylist TR:nth-child(even)
{
  background-color: #eaeaea;
}

TABLE.entrylist TR:nth-child(odd)
{
  background-color: #fafafa;
}

TABLE.entrylist TR.title:hover
{
  background-color: inherit;
  color:            inherit;
}

TABLE.entrylist TR:hover
{
  background-color: #800;
  color: white;
  cursor:           pointer;
}

TABLE.entrylist TD
{
  padding: 4px;
}

TABLE.entrylist TD.title
{
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: 4px;
  white-space:   nowrap;
}

A.paginate-next
{
  margin-right: 10px;
  float:        right;
  font-size:    small;
}

A.paginate-previous
{
  margin-left: 10px;
  font-size:   small;
  float:       left;
}

/******************************************************************************
 * type colors
 *****************************************************************************/

.back-base-character, .back-character
{
  color:            white;
  background-color: $color_Character;
}

.back-base-product, .back-product
{
  color:            white;
  background-color: $color_Product;
}

.back-base-campaign, .back-campaign
{
  color:            black;
  background-color: $color_Campaign;
}

/******************************************************************************
 * jQuery overrides
 *****************************************************************************/

.dialog
{
  font-size:  90%;
  box-shadow: 3px 3px 7px #777;
}

/******************************************************************************
 * positioning and styles
 *****************************************************************************/

DIV.clear
{
  clear: both;
}

DIV.clear-left
{
  clear: left;
}

DIV.clear-right
{
  clear: right;
}

.disabled
{
  opacity: 0.5;
}

/* error, colored text */
SPAN.error, SPAN.error A { color: #AA0000; }
SPAN.warning, SPAN.warning A { color: #FF8800; }
DIV.snippet { color: #aaa; font-size: 80%; }

/******************************************************************************
 * edit
 *****************************************************************************/

INPUT.edit
{
  font-size:     100%;
  width:         100%;
  box-sizing:    border-box;
}

DIV.edit-container
{
  position:      relative;
  padding:       0 5px 0 10px;
  display:       inline-block;
  box-sizing:    border-box;
  width:         100%;
}

DIV.edit-note
{
  background-color: #ffd700;
  border-color:     #daa520;
  border-style:     solid;
  border-width:     1px 1px 0 1px;
  position:         fixed;
  bottom:           0;
  max-width:        80%;
  border-radius:    10px 10px 0 0;
  padding:          8px;
  display:          none;
  z-index:          1;
  box-shadow:       1px 1px 3px #777;
}

DIV.edit-undefine
{
  background-position: -40px;
  position:            absolute;
  left:                -2px;
  top:                 0;
}

DIV.edit-cancel
{
  background-position: -50px;
  position:            absolute;
  left:                -2px;
  bottom:              0;
}

DIV.edit-list-element
{
  position: relative;
}

DIV.edit-list-remove
{
  background-position: -100px;
  position:            absolute;
  right:               -7px;
  top:                 1px;
}

DIV.edit-list-add
{
  background-position: -90px;
  position:            absolute;
  right:               -7px;
  bottom:              3px;
}

.edit-undefined
{
  opacity: 0.5;
}

.edit-label
{
  position:    absolute;
  color:       #aaa;
  right:       8px;
  bottom:      3px;
  font-size:   x-small;
  font-weight: normal;
}

DIV.label-leader
{
  width: 10%;
}

DIV.label-title
{
  width: 70%;
}

DIV.label-name,
DIV.label-product
{
  width: 60%;
}

DIV.label-job,
DIV.label-description,
DIV.label-pages
{
  width: 38%;
}

SPAN.date DIV,
DIV.label-part,
DIV.label-file
{
  display: inline-block;
  width: auto;
}

DIV.label-number
{
  width: 20%;
}

DIV.unparsed
{
  background-color: #fcc;
}

DIV.unparsed-rest
{
  color: #800;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: small;
  font-style: italic;
}


/******************************************************************************
 * actions
 *****************************************************************************/

#actions
{
  border-right: 1px solid #88a;
  border-top: 1px solid #88a;
  border-bottom: 1px solid #88a;
  background-color: #eef;
  position: fixed;
  bottom: 50%;
  left: 0;
  width: 20px;
  padding: 5px 0;
  box-shadow: 1px 1px 3px #777;
  display: none;
}

.action-button {
  padding: 5px;
  cursor:  pointer;
}

#action-save
{
  background-position: -80px;
}

#action-cancel
{
  background-position: -50px;
}

/******************************************************************************
 * general links
 *****************************************************************************/

/* general link style */
A         { text-decoration: none; color: #333333; }

/* link with no additional color */
A.nocolor { font-weight: inherit; color: inherit; }

/* a bold link */
A.bold { font-weight: bold; }

/* links not yet visited */
A:link    { font-style: normal; }
A.nocolor:link { font-weight: inherit; }
A.bold:link { font-weight: bold; }

/* already visited link */
A:visited { font-style: normal; }
A.nocolor:visited { font-weight: inherit; }
A.bold:visited { font-weight: bold; }

/* links with the cursor on top of them */
A:hover   { font-style: normal; text-decoration: underline; }
A.bold:hover { font-weight: bold; }

/******************************************************************************
 * dma links
 *****************************************************************************/

/* now the colors for each specific link */
A.Product         { color: $color_Product }
A.Product:visited { color: $lightcolor_Product }
A.Product:hover   { color: $hilightcolor_Product }

A.Campaign         { color: $color_Campaign }
A.Campaign:visited { color: $lightcolor_Campaign }
A.Campaign:hover   { color: $hilightcolor_Campaign }

A.Place           { color: $color_Place }
A.Place:visited   { color: $lightcolor_Place }
A.Place:hover     { color: $hilightcolor_Place }

A.NPC             { color: $color_NPC }
A.NPC:visited     { color: $lightcolor_NPC }
A.NPC:hover       { color: $hilightcolor_NPC }

A.Group           { color: $color_Group }
A.Group:visited   { color: $lightcolor_Group }
A.Group:hover     { color: $hilightcolor_Group }

A.Monster         { color: $color_Monster }
A.Monster:visited { color: $lightcolor_Monster }
A.Monster:hover   { color: $hilightcolor_Monster }

A.God             { color: $color_God }
A.God:visited     { color: $lightcolor_God }
A.God:hover       { color: $hilightcolor_God }

A.Item            { color: $color_Item }
A.Item:visited    { color: $lightcolor_Item }
A.Item:hover      { color: $hilightcolor_Item }

A.Spell           { color: $color_Spell }
A.Spell:visited   { color: $lightcolor_Spell }
A.Spell:hover     { color: $hilightcolor_Spell }

A.Event           { color: $color_Event }
A.Event:visited   { color: $lightcolor_Event }
A.Event:hover     { color: $hilightcolor_Event }

A.Class           { color: $color_Class }
A.Class:visited   { color: $lightcolor_Class }
A.Class:hover     { color: $hilightcolor_Class }

A.Feat            { color: $color_Feat }
A.Feat:visited    { color: $lightcolor_Feat }
A.Feat:hover      { color: $hilightcolor_Feat }

A.Skill           { color: $color_Skill }
A.Skill:visited   { color: $lightcolor_Skill }
A.Skill:hover     { color: $hilightcolor_Skill }

/******************************************************************************
 * Index
 *****************************************************************************/

DIV.index-overview,
A.type-index
{
  float:            left;
  width:            200px;
  background-color: #eee;
  margin:           4px;
  padding:          4px;
  text-align:       center;
  border-radius:    5px;
  box-shadow:       0 1px 3px #777;
  height:           1em;
  overflow:         hidden;
  text-overflow:    ellipsis;
}

DIV.index-overview:hover,
A.type-index:hover
{
  background-color: #800;
  color:            white;
  text-decoration:  none;
}

A.index-link:hover
{
  text-decoration:  none;
}

/******************************************************************************
 * Types
 ******************************************************************************/

A.type-image {
  color:        #ccc;
  text-align:   center;
  font-size:    small;
  float:        left;
  margin-right: 20px;
}

A.type-image:hover {
  color:           #444;
  text-decoration: none;
}

DIV.type-indexes {
  height:         120px;
  display:        table-cell;
  vertical-align: middle;
}

/******************************************************************************
 * Captions
 *****************************************************************************/

.caption-container {
  display: inline-block;
  text-align: center;
  font-size:  small;
  color:      #ccc;
  margin:     2px;
}

A.icon-link {
  color: #ccc;
}

.caption-container:hover,
A.icon-link:hover {
  color:           #444;
  text-decoration: none;
}

/******************************************************************************
 * Windowed
 *****************************************************************************/

/* windows that are activated by mouse-over */
SPAN.window, DIV.window
{
  position:     absolute;
  background:   #eee;
  z-index:      20;
  margin-top:   25px;
  margin-left:  -100px;
  border-style: outset;
  border-width: 2px;
  padding:      10px;
  visibility:   hidden;
  color:        #222211;
  font-weight:  normal;
  max-width:    200px;
  white-space:  normal;
  box-shadow:   0 1px 3px #777;
}


/******************************************************************************
 * Value Hints
 *****************************************************************************/

SPAN.HOUSE_RULE
{
  border-bottom-color: #880000;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}

SPAN.ESTIMATION
{
  border-bottom-color: #008800;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}

SPAN.computed
{
    border-bottom-color: #8888FF;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

SPAN.HOUSE_RULE > SPAN.window
{
    margin-top:   -60px;
    border-color: #AA0000;
    color:        #440000;
    background:   #ffffee;
}

SPAN.ESTIMATION > SPAN.window
{
    margin-top:   -60px;
    border-color: #00AA00;
    color:        #004400;
    background:   #eeffee;
}
