/* The main CSS file for jDMA. */

@font-face {
  font-family: symbola;
  src: url('/fonts/Symbola.ttf');
}

.symbola {
 font-family: symbola;
}

/******************************************************************************
 * general page layout
 *****************************************************************************/

/* the page height (for firefox) */
BODY, HTML
{
  min-height: 100%;
  height:     100%;
  width:      100%;
  padding:    0;
  margin:     0;
}

/* basic font and background */
BODY
{
  font-family:      Helvetica, Arial, sans-serif;
  font-size:        100%;
  color:            black;
  background-color: white;
  height:           100%;
  width:            100%;
}

/******************************************************************************
 * page
 *****************************************************************************/

#page-container
{
  min-height: 100%;
}

DIV.page
{
  padding: 80px 1em 20px 50px;
}

H1
{
  font-weight:   bolder;
  font-size:     x-large;
  color:         #800;
  margin:        0;
  border-bottom: 1px solid #800;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.leading
{
  display: box;
  display: -webkit-box;
  box-orient: horizontal;
  -webkit-box-orient: horizontal;
  width: 100%;
  margin-top: 20px;
}

.entrytitle
{
  margin-left: 40px;
  box-flex:    1;
  -webkit-box-flex: 1;
}

.title-actions
{
  float: right;
  margin-top: 5px;
}

H2
{
  font-weight: bold;
  font-size: large;
  color: #880000;
  padding: 1em 0 1em 0;
  margin: 0;
}

DIV.subtitletext, DIV.subtitletext A
{
  font-size:  x-small;
  color:      #CCCCCC;
}

.doc-link
{
  float:       right;
  margin-left: 5px;
}

.doc-link-icon
{
  margin-top: -2px;
}

.doc-link-mail
{
  margin-top: 10px;
}

.dma-formatted, .text-formatted
{
  white-space: pre;
  font-family: monospace;
}

/******************************************************************************
 * special property classes
 *****************************************************************************/

/* alignments */
.align-left    { text-align: left;    }
.align-right   { text-align: right;   }
.align-center  { text-align: center;  }
.align-justify { text-align: justify; }

/* font styles */
.font-sansserif { font-family: Helvetica, Arial, sans-serif;    }
.font-serif     { font-family: 'Times New Roman', Times, serif; }

/* font sizes */
.size-tiny     { font-size: xx-small;  }
.size-footnote { font-size: x-small;   }
.size-script   { font-size: smaller;   }
.size-small    { font-size: small;     }
.size-normal   { font-size: medium;    }
.size-large    { font-size: larger;    }
.size-larger   { font-size: larger;    }
.size-largest  { font-size: x-large;   }
.size-huge     { font-size: xx-large;  }
.size-huger    { font-size: 500%;      }

/* special colors */
.color-light { color: #AAAAAA; }

/******************************************************************************
 * header
 *****************************************************************************/

#header
{
  border-bottom:    solid 1px #88a;
  background-color: #eef;
  width:            100%;
  position:         fixed;
  font-size:        14px;
  padding:          5px 10px;
  box-shadow:       0 1px 3px #777;
  z-index:          1;
  line-height:      20px;
}

#header, #header A
{
  color:            #000098;
}

#header A:hover
{
  color:            #ee9e4b;
}

#header-left
{
  margin-bottom: 1px;
}

#header-right, #header-rightold
{
  float:        right;
  text-align:   right;
  margin-right: 20px;
}

#navigation
{
}

.sprite
{
  background-image: url('/icons/icons.png');
  width:            13px;
  height:           13px;
  margin-right:     2px;
  display:          inline-block;
  cursor:           pointer;
}

.sprite.white
{
  background-image: url('/icons/icons-white.png');
}

.sprite:hover
{
  background-image: url('/icons/icons-hover.png');
}

.sprite.disabled:hover
{
  background-image: url('/icons/icons.png');
}

.sprite.large
{
  background-image: url('/icons/icons-large.png');
  width:            19px;
  height:           25px;
  background-position-y: 0;
}

.sprite.large:hover
{
  background-image: url('/icons/icons-large-hover.png');
}

#home
{
  background-position: -65px;
}

#login-icon, .login
{
  background-position: 0;
}

#logout-icon
{
  background-position: -13px;
}

.library.sprite
{
  background-position: -26px;
}

.search.sprite
{
  background-position: -52px;
}

.about.sprite
{
  background-position: -39px;
}

.document.sprite
{
  background-position: 0 0;
}

.print.sprite
{
  background-position: -95px 0;
  width: 24px;
}

.summary.sprite
{
  background-position: -121px 0;
  width: 26Epx;
}

#search INPUT
{
  font-size: 10px;
  vertical-align: top;
  margin-right: 5px;
  display: none;
}

A.navigation-link
{
  color: inherit;
}

.navigation-entry
{
  padding-left: 5px;
}

DIV.entry-nav
{
  text-align: center;
  margin:     5px 0;
}

DIV.entry-nav DIV
{
  margin: 0 2px;
}

DIV.first
{
  background-position: -78px;
}

DIV.previous
{
  background-position: -91px;
}

DIV.index
{
  background-position: -130px;
}

DIV.next
{
  background-position: -104px;
}

DIV.last
{
  background-position: -117px;
}

DIV.add
{
  margin-left:         10px !important;
  background-position: -169px;
}

DIV.remove
{
  background-position: -182px;
}

.sprite.large.save 
{
  background-position-x: -20px;
  width: 26px;
}

.sprite.large.revert 
{
  background-position-x: -47px;
  width: 26px;
}

DIV.delete.sprite.large
{
  background-position: -71px;
  width: 21px;
  height: 48px;
}

DIV.delete.white.sprite
{
  background-position: -168px;
}

/******************************************************************************
 * about
 *****************************************************************************/

DIV.ixitxachitl
{
  background-image: url('/icons/Ixitxachitls.png');
  float: right;
  margin-left: 10px;
  width: 145px;
  height: 180px;
}

DIV.ixitxachitl:hover
{
  background-image: url('/icons/Ixitxachitls-highlight.png');
}

/******************************************************************************
 * validation
 ******************************************************************************/

INPUT.invalid
{
  color:            #800;
  background-color: #fff0f0;
}

/******************************************************************************
 * register
 *****************************************************************************/

#register LABEL
{
  padding-top: 5px;
  font-size:   75%;
  color:       #888;
  display:     block;
  text-align:  left;
}

#register LABEL INPUT
{
  font-size:    120%;
  border-style: solid;
  border-width: 1px;
  border-color: #008;
  display:      block;
}

DIV.register LABEL
{
  font-size:  75%;
  color:      #888;
  display:    block;
  text-align: left;
}

#register-error
{
  color:      #800;
}

/******************************************************************************
 * footer
 *****************************************************************************/

/* the page footer */
DIV.footer
{
  background-color: #eee;
  color:       #4b3500;
  font-size:   75%;
  text-align:  center;
  padding:     5px;
  height:      50px;
  margin-top:  -60px;
  position:    relative;
}

#footer-spacer
{
  height: 60px;
}

DIV.footer DIV.version
{
  font-size:     70%;
  margin-bottom: 3px;
}

DIV.footer IMG
{
  padding: 2px;
}


/******************************************************************************
 * entry
 *****************************************************************************/

IMG.main.image
{
  border:     1px solid #ccc;
  padding:    5px;
  margin:     0 10px 0 0;
  display:    inline-block;
  box-shadow: 1px 1px 3px #777;
  position:   relative;
}

DIV.description
{
  width: 100%;
  min-height: 50px;
}

DIV.short-description
{
  margin-top: 15px;
  color:      #888;
  width: 100%;
  min-height: 20px;
}

DIV.files
{
  margin:      10px 0;
  padding-top: 2px;
  clear:       both;
}

DIV.nofiles
{
  min-height:  20px;
  min-width:   50px;
}

DIV.nofiles:hover
{
  outline: 1px dashed #ccc;
}

DIV.file
{
  display: inline-block;
  position: relative;
}

DIV.file IMG
{
  border:     1px solid #ccc;
  max-width:  50px;
  max-height: 50px;
  margin:     2px;
  padding:    2px;
}

DIV.values
{
  margin-bottom: 20px;
}

DIV.value
{
  width:         100%;
  margin-bottom: 1px;
  position:      relative;
}

DIV.value:hover DIV.value-label-container
{
  background-color: #800;
}

DIV.value-label-container
{
  position:    absolute;
  height:      100%;
  width:       160px;
  text-align:  right;
  font-weight: bold;
}

DIV.value-label
{
  padding:     5px;
  white-space: nowrap;
}

DIV.value-content
{
  padding:          5px;
  background-color: #eee;
  margin-left:      161px;
  min-height:       1.125em;
  line-height:      1.125em;
}

DIV.value-content-edit
{
  display:          -webkit-box;
  -webkit-box-orient: horizontal;
}

DIV.value-content.value-noedit
{
  color: #666;
}

SPAN.value-combination
{
  color: #666;
}

DIV.textblock.desc
{
  border:     none;
  margin:     0;
  padding:    0 0 1em 0;
  color:      #444;
  text-align: justify;
}

DIV.item-reference
{
  display: inline-block;
  border: 1px solid #000098;
  background-color: #eef;
  border-radius: 3px;
  padding: 4px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1px;
}

DIV.item-reference:hover
{
  background-color: #cce;
}

DIV.item-overview
{
  -webkit-column-count: 2;
  -webkit-column-rule: 1px solid #ccc;
  column-count: 2;
  column-fill: auto;
}

DIV.item-overview-entry
{
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

DIV.item-overview-weight,
DIV.item-overview-value
{
  width: 100px;
  float: right;
}

DIV.item-overview-desc
{
  margin-left: 20px;
  font-size: small;
}

DIV.item-overview-contents
{
  margin-left: 20px;
  border-left: 4px solid orange;
  padding-left: 5px;
}

DIV.item-overview-values
{
  margin-left: 20px;
  font-size: small;
}

SPAN.item-overview-value-dm,
DIV.item-overview-value-dm
{
  color: #009;
  font-style: italic;
}

IMG.item-image
{
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

/******************************************************************************
 * Cards
 *****************************************************************************/

DIV.card
{
  width: 700px;
  position: relative;
  display: inline-block;
  margin: 0 2px 2px 0;
}

DIV.card DIV.header
{
  color: white;
  padding: 10px;
}

DIV.card.item DIV.header
{
  background-color: $color_Item;
}

DIV.card.feat DIV.header
{
  background-color: $color_Feat;
}

DIV.card.spell DIV.header
{
  background-color: $color_Spell;
}

DIV.card.quality DIV.header
{
  background-color: $color_Quality;
}

DIV.card DIV.title
{
  font-weight: bold;
  text-align: center;
  width: 100%;
}

DIV.card DIV.title SPAN.subtitle
{
  font-size: 10px;
}

DIV.card DIV.actions
{
  top: 12px;
  left: 10px;
  display: inline-block;
  width: 15%;
}

DIV.card DIV.extensions
{
  top: 9px;
  right: 9px;
  text-align: right;
  color: white;
  font-size: 6px;
  line-height: 14px;
  position: absolute;
  width: 17%;
}

DIV.item.card DIV.contents
{
  border: 1px solid $color_Item;
}

DIV.feat.card DIV.contents
{
  border: 1px solid $color_Feat;
}

DIV.spell.card DIV.contents
{
  border: 1px solid $color_Spell;
}

DIV.quality.card DIV.contents
{
  border: 1px solid $color_Quality;
}

DIV.invalid.card DIV.contents
{
  border: 1px solid red;
}

DIV.card DIV.top-block
{
  background-color: white;
  padding: 5px 10px 10px 10px;
}

DIV.card DIV.contents DIV.image.main
{
  width: 90px;
  height: 100px;
  display: inline-block;
  margin: 0 10px 10px 0;
}

DIV.card DIV.contents IMG.image.main
{
  border: none;
  box-shadow: none;
}

DIV.card DIV.contents DIV.statistics
{
  display: inline-block;
  width: 575px;
  vertical-align: top;
  padding-top: 10px;
}

DIV.card DIV.contents DIV.statistics-line,
DIV.card DIV.contents DIV.statistics-lines
{
  clear: both;
  font-size: 12px;
}

DIV.card DIV.contents DIV.statistics-line > DIV,
DIV.card DIV.contents DIV.statistics-lines > DIV
{
  margin: 0;
  min-height: 20px;
}

DIV.card DIV.contents DIV.statistics-lines > DIV
{
  width: 33%;
  display: inline-block;
  float: left;
}

DIV.card DIV.contents TABLE.stat-value
{
  width: 33%;
  display: inline-block;
  font-size: 12px;
  vertical-align: top;
}

DIV.card DIV.contents TABLE.stat-value TR
{
  vertical-align: top;
}

DIV.card DIV.contents TABLE.stat-value TR TD.stat-label
{
  width: 25px;
}

DIV.card DIV.contents DIV.statistics-lines > DIV:nth-child(3n+1)
{
  text-align: left;
}

DIV.card DIV.contents DIV.statistics-lines > DIV:nth-child(3n+2)
{
  text-align: center;
}

DIV.card DIV.contents DIV.statistics-lines > DIV:nth-child(3n)
{
  text-align: right;
}

DIV.card DIV.contents DIV.statistics-line DIV.value
{
  display: inline-block;
  width: 234px;
  margin: 0 0 3px 3px;
}

DIV.card DIV.contents DIV.stack {
  font-size: 9px;
  display: -webkit-inline-flex;
  -webkit-flex-direction: column;
  float: none !important; /* clashes with general div style */
  vertical-align: middle;
  width: auto !important; /* clashes with general div style */
  white-space: nowrap;
  margin: -3px 0 -3px 0;
}

DIV.card DIV.contents DIV.statistics-line SPAN.stack SPAN:nth-child(2n+1)
{
}

DIV.card DIV.contents DIV.statistics-line SPAN.stack SPAN:nth-child(2n)
{
}

DIV.card DIV.bottom-block
{
  padding: 10px;
  background-color: #eaeaea;
}

DIV.card DIV.incomplete
{
  font-size: 12px;
  color: #800;
}

DIV.card DIV.appearance
{
  font-size: 14px;
  margin: 5px 0 5px 0;
  font-style: italic;
  color: $color_Item;
}

DIV.card DIV.substance SPAN.value
{
  font-size: 13px;
}

DIV.card DIV.description
{
  font-style: italic;
  font-size: 12px;
  margin-top: 10px;
  text-align: justify;
}

DIV.card DIV.dm-notes.block,
DIV.card DIV.player-notes.block {
  display: block;
}

DIV.card DIV.dm-notes
{
  font-size: 12px;
  color: #009;
  font-style: italic;
  display: inline-block;
}

DIV.card DIV.player-notes
{
  font-size: 12px;
  color: #090;
  font-style: italic;
  display: inline-block;
}

DIV.card DIV.references
{
  font-size: 8px;
  text-align: center;
  margin-top: 5px;
}

DIV.small.card
{
  width: 358px;
  vertical-align: top;
}

DIV.small.card DIV.actions
{
  position: absolute;
  margin-top: -5px;
}

DIV.small.card DIV.header
{
  padding: 5px;
}

DIV.small.card DIV.title
{
  color: white;
  font-size: 11px;
  width: 100%;
}

DIV.small.card DIV.title SPAN.subtitle
{
  font-size: 9px;
}

DIV.small.card DIV.contents
{
  padding: 5px;
  background-color: white;
}

DIV.small.card DIV.contents DIV.image.main
{
  height: 50px;
  width: 50px;
  display: inline-block;
  margin: 0 10px 10px 0;
}

DIV.small.card DIV.contents IMG.image.main
{
  margin: 0;
}

DIV.small.card DIV.contents DIV.statistics
{
  width: 275px;
  padding-top: 0;
}

DIV.small.card DIV.contents DIV.statistics-lines > DIV:nth-child(3n+1)
{
  text-align: left;
}

DIV.small.card DIV.contents DIV.statistics-lines > DIV:nth-child(3n+2)
{
  text-align: center;
}

DIV.small.card DIV.contents DIV.statistics-lines > DIV:nth-child(3n)
{
  text-align: right;
}

DIV.small.card DIV.contents
{
  font-size: 12px;
}

DIV.small.card DIV.contents DIV.appearance
{
  font-size: 12px;
}

DIV.small.card DIV.short-description
{
  margin-top: 0;
  color: black;
  min-height: auto;
}

DIV.tiny.card
{
  width: 180px;
  vertical-align: top;
  padding: 3px;
  cursor: pointer;
}

DIV.tiny.card DIV.contents
{
  background-color: white;
  margin: 3px;
  min-height: auto;
  overflow: scroll;
  height: 35px;
}


DIV.tiny.card IMG.image.main
{
  max-height: 25px;
  max-width: 25px;
  margin: 0;
}

DIV.tiny.card DIV.title
{
  font-size: 11px;
  display: inline-block;
  width: 137px;
  text-align: left;
  padding: 5px 0 0 0;
  vertical-align: top;
  line-height: normal;
}

DIV.tiny.card DIV.content
{
  margin-bottom: 10px;
}

.card-inline
{
  padding: 0;
  background-color: transparent;
  margin: 0;
  border: none;
}

.card-inline .ui-dialog-titlebar
{
  display: none;
}

/******************************************************************************
 * summary
 *****************************************************************************/

DIV.summary
{
  font-size: 16px;
}

DIV.par
{
  padding: 5px 0 0 0;
  margin: 0;
}

DIV.summary H1
{
  border: none;
  padding: 0;
  margin: 0 0 5px 0;
  font-size: 20px;
}

DIV.summary DIV.intro-text
{
  background: #eee;
  padding: 10px;
  width: 95%;
  margin-bottom: 10px;
  min-height: auto;
}

DIV.summary DIV.intro-text DIV.description
{
  font-style: italic;
  min-height: 0;
  margin-bottom: 10px;
}

DIV.summary DIV.description DIV.base-title,
DIV.summary DIV.combat DIV.base-title
{
  display: none;
}

#boxes
{
  margin-top: 20px;
  width: 1095px; /* set for printing */
}

#boxes DIV.ability,
#boxes DIV.item-summary
{
  margin: 1px;
  page-break-inside: avoid;
  float: left;
  width: 355px; /* set for printing */
  border: 1px solid #131210
}

DIV.ability DIV.ability-title,
DIV.feat DIV.feat-title,
DIV.item-summary DIV.item-summary-title
{
  color: white;
  padding: 3px;
  text-align: center;
  -webkit-print-color-adjust: exact;
  font-weight: bold;
  font-size: 12px;
}

DIV.ability DIV.ability-title
{
  background-color: $color_Quality;
}

DIV.ability DIV.ability-title.spell
{
  background-color: $color_Spell;
}

DIV.ability DIV.ability-numbers, DIV.quality.card DIV.numbers
{
  float: left;
}

DIV.ability DIV.ability-number, DIV.quality.card DIV.numbers DIV.number
{
  background-color: white;
  border-radius: 3px;
  width: 15px;
  height: 10px;
  display: inline-block;
  margin: 1px 1px;
}

DIV.feat DIV.feat-title
{
  background-color: $color_Feat;
}

DIV.item-summary DIV.item-summary-title
{
  background-color: $color_Item;
}

DIV.ability DIV.ability-text,
DIV.feat DIV.feat-text,
DIV.item-summary DIV.item-summary-text
{
  background: #ddd;
  padding: 3px;
  -webkit-print-color-adjust: exact;
  font-size: 12px;
}

DIV.page-image
{
  page-break-before: always;
}

DIV.page-image IMG
{
}

DIV.column
{
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

/******************************************************************************
 * entry lists
 *****************************************************************************/

TABLE.entrylist
{
  padding: 0 10px;
  width:  100%;
}

TABLE.entrylist TR:nth-child(even)
{
  background-color: #eaeaea;
}

TABLE.entrylist TR:nth-child(odd)
{
  background-color: #fafafa;
}

TABLE.entrylist TR.title:hover
{
  background-color: inherit;
  color:            inherit;
}

TABLE.entrylist TR:hover
{
  background-color: #800;
  color:            white;
  cursor:           pointer;
}

TABLE.entrylist TR:hover A
{
  color: #ccc;
}

TABLE.entrylist TD
{
  padding: 4px;
}

TABLE.entrylist TD.title
{
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: 4px;
  white-space:   nowrap;
}

TABLE.entrylist TD.short DIV
{
  margin-top: 0;
}

TABLE.entrylist TR:hover TD.short DIV
{
  color: #ccc;
}

A.paginate-next
{
  margin-right: 10px;
  float:        right;
  font-size:    small;
}

A.paginate-previous
{
  margin-left: 10px;
  font-size:   small;
  float:       left;
}

TABLE.entrylist TD.label
{
  width: 1%;
}

TABLE.entrylist TD
{
  vertical-align: top;
}

TABLE.entrylist TD.id,
TABLE.entrylist TD.system
{
  width: 10%;
}

TABLE.entrylist TD.worlds
{
  width: 20%;
}

TABLE.entrylist TD.producttitle,
TABLE.entrylist TD.short
{
  width: 30%;
}

.list-extensions
{
  width: 0;
  text-align: right;
}

.list-name,
.list-value,
.list-weight,
.list-worlds,
.list-extensions
{
  white-space: nowrap;
}

DIV.extension-symbol
{
  font-size: 200%;
  line-height: 50%;
}

DIV.extension-symbol,
DIV.extension-symbol-text
{
  color: #aaa;
  vertical-align: top;
  display: inline-block;
}

/******************************************************************************
 * library
 *****************************************************************************/

DIV.library-entry
{
  display:        inline-block;
  width:          150px;
  text-align:     center;
  vertical-align: top;
}

DIV.library-indexes {
}

A.library-index
{
  display:       block;
  overflow:      hidden;
  text-overflow: ellipsis;
  font-size:     small;
}

DIV.index-overview
{
  float:            left;
  width:            200px;
  background-color: #eee;
  margin:           4px;
  padding:          4px;
  text-align:       center;
  border-radius:    5px;
  box-shadow:       0 1px 3px #777;
  height:           1em;
  overflow:         hidden;
  text-overflow:    ellipsis;
}

A.library-title.type-image
{
  float: none;
}

/******************************************************************************
 * type colors
 *****************************************************************************/

.value.base-character .value-label-container,
.value.character .value-label-container
{
  color:            white;
  background-color: $color_Character;
}

.value.base-product .value-label-container,
.value.product .value-label-container
{
  color:            white;
  background-color: $color_Product;
}

.value.base-campaign .value-label-container,
.value.campaign .value-label-container
{
  color:            black;
  background-color: $color_Campaign;
}

.value.base-item .value-label-container,
.value.item .value-label-container
{
  color:            white;
  background-color: $color_Item;
}

.value.base-monster .value-label-container,
.value.monster .value-label-container
{
  color:            white;
  background-color: $color_Monster;
}

.value.base-npc .value-label-container,
.value.npc .value-label-container
{
  color:            white;
  background-color: $color_NPC;
}

.value.base-npc:hover .value-label-container,
.value.npc:hover .value-label-container
{
  background-color: #888;
}

.value.base-quality .value-label-container,
.value.quality .value-label-container
{
  color:            white;
  background-color: $color_Quality;
}

.value.base-feat .value-label-container,
.value.feat .value-label-container
{
  color:            white;
  background-color: $color_Feat;
}

.value.base-skill .value-label-container,
.value.skill .value-label-container
{
  color:            white;
  background-color: $color_Skill;
}

.value.base-spell .value-label-container,
.value.spell .value-label-container
{
  color:            white;
  background-color: $color_Spell;
}

.value.base-encounter .value-label-container,
.value.encounter .value-label-container
{
  color:            white;
  background-color: $color_Encounter;
}

.value.base-level .value-label-container,
.value.level .value-label-container
{
  color:            white;
  background-color: $color_Level;
}

/******************************************************************************
 * overlays
 *****************************************************************************/

DIV.overlay
{
  position: relative;
}

IMG.overlay
{
  position: absolute;
}

IMG.overlay.right-bottom
{
  bottom: 0;
  right: 0;
}

IMG.overlay.left-top
{
  left: 0;
}

/******************************************************************************
 * jQuery overrides
 *****************************************************************************/

.dialog
{
  font-size:  90%;
  box-shadow: 3px 3px 7px #777;
}

/******************************************************************************
 * positioning and styles
 *****************************************************************************/

DIV.clear
{
  clear: both;
}

DIV.clear-left
{
  clear: left;
}

DIV.clear-right
{
  clear: right;
}

.disabled
{
  opacity: 0.5;
}

/* error, colored text */
.error, .error A { color: #AA0000; }
.warning, .warning A { color: #FF8800; }
DIV.snippet { color: #aaa; font-size: 80%; }

/* inline table layouting */
SPAN.table      { display: inline-table; }
SPAN.table-row  { display: table-row;  }
SPAN.table-cell
{
  display:       table-cell;
  padding-right: 5px;
  padding-left:  5px;
}

/******************************************************************************
 * edit
 *****************************************************************************/

INPUT.edit, TEXTAREA.edit
{
  font-size:     100%;
  width:         100%;
  box-sizing:    border-box;
}

DIV.edit-container
{
  position:      relative;
  padding:       0 5px 0 10px;
  margin-left:   15px;
  box-sizing:    border-box;
  -webkit-box-flex: 1;
  min-height:    30px;
}

.edit-last-spacer
{
  background: blue;
  -moz-box-flex: 100;
  -webkit-box-flex: 100;
  box-flex: 100;
}

.edit-list-multiple
{
  display: -webkit-box;
  display: box;
  box-orient: horizontal;
  -webkit-box-orient: horizontal;
}

DIV.flex
{
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}

DIV.edit-note
{
  background-color: #ffd700;
  border-color:     #daa520;
  border-style:     solid;
  border-width:     1px 1px 0 1px;
  position:         fixed;
  bottom:           0;
  max-width:        80%;
  border-radius:    10px 10px 0 0;
  padding:          8px;
  display:          none;
  z-index:          1;
  box-shadow:       1px 1px 3px #777;
}

DIV.edit-undefine
{
  background-position: -156px;
  position:            absolute;
  left:                -4px;
  top:                 3px;
}

DIV.edit-cancel
{
  background-position: -143px;
  position:            absolute;
  left:                -4px;
  bottom:              0;
}

DIV.edit-list-element
{
  position: relative;
}

DIV.edit-list-remove
{
  background-position: -195px;
  position:            absolute;
  right:               -9px;
  top:                 0;
}

DIV.edit-list-add
{
  background-position: -182px;
  position:            absolute;
  right:               -9px;
  bottom:              0;
}

.edit-undefined
{
  opacity: 0.5;
}

.edit-label
{
  position:    absolute;
  color:       #aaa;
  right:       8px;
  bottom:      3px;
  font-size:   x-small;
  font-weight: normal;
}

DIV.label-leader
{
  width: 10%;
}

DIV.label-title
{
  width: 70%;
}

DIV.label-name,
DIV.label-product
{
  width: 60%;
}

DIV.label-job,
DIV.label-description,
DIV.label-pages
{
  width: 38%;
}

SPAN.date DIV,
DIV.label-part,
DIV.label-file
{
  display: inline-block;
  width: auto;
}

DIV.label-number
{
  width: 20%;
}

DIV.unparsed
{
  background-color: #fcc;
}

DIV.unparsed-rest
{
  color: #800;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: small;
  font-style: italic;
}

IFRAME.upload
{
  background: white;
  opacity: 0.8;
  z-index: 2;
  position: absolute;
}

IFRAME.upload-files
{
  display: inline-block;
  border: 1px solid black;
}

DIV.file-upload
{
  text: black;
  opacity: 1;
}

DIV.image-cancel
{
  background-position: -143px;
  position:            absolute;
  left:                5px;
  bottom:              5px;
}

DIV.file DIV.remove
{
  position: absolute;
  bottom:   5px;
  right:    5px;
}

DIV.edit-checkbox
{
  display: inline-block;
  width: 110px;
}

DIV.edit-checkbox INPUT
{
  margin-right: 5px;
}

/******************************************************************************
 * actions
 *****************************************************************************/

DIV.action-container
{
  top: 52px;
  left: 32px;
  position: fixed;
  border-right: 1px solid #88a;
  border-left: 1px solid #88a;
  border-bottom: 1px solid #88a;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #eef;
  padding: 5px 10px 0 10px;
  box-shadow: 1px 1px 3px #777;
  opacity: 0.3;
}

DIV.action-container:hover
{
  opacity: 1;
}

#actions
{
  display: none;
}

.action-button {
  padding-left: 5px;
  cursor:  pointer;
  display: inline-block;
}

#action-save
{
  background-position: -20px 0;
  height: 25px !important;
  width: 26px !important;
}

#action-cancel
{
  background-position: -47px 0;
  height: 25px !important;
  width: 25px !important;
}

#action-delete,
{
  background-position: -71px 0;
  height: 29px !important;
  width: 24px !important;
}

/******************************************************************************
 * general links
 *****************************************************************************/

/* general link style */
A         { text-decoration: none; color: #333333; }

/* link with no additional color */
A.nocolor { font-weight: inherit; color: inherit; }

/* a bold link */
A.bold { font-weight: bold; }

/* links not yet visited */
A:link    { font-style: normal; }
A.nocolor:link { font-weight: inherit; }
A.bold:link { font-weight: bold; }

/* already visited link */
A:visited { font-style: normal; }
A.nocolor:visited { font-weight: inherit; }
A.bold:visited { font-weight: bold; }

/* links with the cursor on top of them */
A:hover   { font-style: normal; text-decoration: underline; }
A.bold:hover { font-weight: bold; }

/******************************************************************************
 * dma links
 *****************************************************************************/

/* now the colors for each specific link */
A.Product         { color: $color_Product }
A.Product:visited { color: $lightcolor_Product }
A.Product:hover   { color: $hilightcolor_Product }

A.Campaign         { color: $color_Campaign }
A.Campaign:visited { color: $lightcolor_Campaign }
A.Campaign:hover   { color: $hilightcolor_Campaign }

A.Place           { color: $color_Place }
A.Place:visited   { color: $lightcolor_Place }
A.Place:hover     { color: $hilightcolor_Place }

A.NPC             { color: $color_NPC }
A.NPC:visited     { color: $lightcolor_NPC }
A.NPC:hover       { color: $hilightcolor_NPC }

A.Group           { color: $color_Group }
A.Group:visited   { color: $lightcolor_Group }
A.Group:hover     { color: $hilightcolor_Group }

A.Monster         { color: $color_Monster }
A.Monster:visited { color: $lightcolor_Monster }
A.Monster:hover   { color: $hilightcolor_Monster }

A.God             { color: $color_God }
A.God:visited     { color: $lightcolor_God }
A.God:hover       { color: $hilightcolor_God }

A.Item            { color: $color_Item }
A.Item:visited    { color: $lightcolor_Item }
A.Item:hover      { color: $hilightcolor_Item }

A.Spell           { color: $color_Spell }
A.Spell:visited   { color: $lightcolor_Spell }
A.Spell:hover     { color: $hilightcolor_Spell }

A.Encounter           { color: $color_Encounter }
A.Encounter:visited   { color: $lightcolor_Encounter }
A.Encounter:hover     { color: $hilightcolor_Encounter }

A.Event           { color: $color_Event }
A.Event:visited   { color: $lightcolor_Event }
A.Event:hover     { color: $hilightcolor_Event }

A.Class           { color: $color_Class }
A.Class:visited   { color: $lightcolor_Class }
A.Class:hover     { color: $hilightcolor_Class }

A.Feat            { color: $color_Feat }
A.Feat:visited    { color: $lightcolor_Feat }
A.Feat:hover      { color: $hilightcolor_Feat }

A.Quality            { color: $color_Quality }
A.Quality:visited    { color: $lightcolor_Quality }
A.Quality:hover      { color: $hilightcolor_Quality }

A.Skill           { color: $color_Skill }
A.Skill:visited   { color: $lightcolor_Skill }
A.Skill:hover     { color: $hilightcolor_Skill }

/******************************************************************************
 * Index
 *****************************************************************************/

DIV.index-group
{
  display: none;
}

DIV.index-nested
{
  background-color: #aaa;
}

DIV.index-overview:hover,
A.type-index:hover
{
  background-color: #800;
  color:            white;
  text-decoration:  none;
}

A.index-link:hover
{
  text-decoration:  none;
}

/******************************************************************************
 * Types
 ******************************************************************************/

A.type-image {
  color:        #ccc;
  text-align:   center;
  font-size:    small;
  float:        left;
  margin-right: 20px;
}

A.type-image:hover {
  color:           #444;
  text-decoration: none;
}

/******************************************************************************
 * Captions
 *****************************************************************************/

.caption-container {
  display: inline-block;
  text-align: center;
  font-size:  small;
  color:      #ccc;
  margin:     2px;
}

A.icon-link {
  color: #ccc;
}

.caption-container:hover,
A.icon-link:hover {
  color:           #444;
  text-decoration: none;
}

/******************************************************************************
 * Windowed
 *****************************************************************************/

/* windows that are activated by mouse-over */
SPAN.windowed
{
  position: relative;
}

SPAN.windowed:hover .window
{
  display: block;
}

.window
{
  display:      none;
  position:     absolute;
  top:          100%;
  background:   #eee;
  z-index:      20;
  border:       1px solid #ccc;
  padding:      5px 10px;
  color:        #221;
  font-weight:  normal;
  font-size:    x-small;
  white-space:  nowrap;
  box-shadow:   0 1px 3px #777;
}

DIV.window.base
{
  bottom: 100%;
  top: auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  font-size: small;
  white-space: nowrap;
  overflow: visible;
}

TR.base-entry
{
  height: 15px;
  overflow: hidden;
  vertical-align: bottom;
  text-align: left;
}

TD.base-value
{
  height: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 20px;
}

TD.base-name
{
  display: inline-block;
  height: 13px;
  white-space: nowrap;
}

.term
{
  border-bottom: 1px dotted #888;
  position: relative;
}

.term:hover .explanation
{
  display: block;
}

.explanation
{
  display: none;
  position: absolute;
  z-index: 20;
  padding: 10px;
  white-space: nowrap;
  background: black;
  opacity: 0.6;
  color: white;
  border-radius: 10px;
  font-size: 80%;
}

/******************************************************************************
 * Section
 *****************************************************************************/

DIV.section
{
  position: relative;
}

DIV.section-title
{
  color: #888;
  font-size: small;
  background: url('/icons/bar.png') repeat-x 0 10px;
  padding: 2px 10px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

DIV.section:hover DIV.section-title
{
  width: auto !important;
}

DIV.section.rotated DIV.section-title
{
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  position: absolute;
  top: 100%;
  left: -22px;
  text-align: center;
  box-sizing:    border-box;
}

SPAN.section-titletext
{
  background-color: white;
  padding: 0 4px;
}

DIV.section-text
{
}

DIV.section.rotated DIV.section-text
{
  display: block;
}

/******************************************************************************
 * Value Hints
 *****************************************************************************/

.remark
{
  position: relative;
}

.remark-window
{
  display: none;
  position: absolute;
  z-index: 20;
  padding: 10px;
  opacity: 0.6;
  border-radius: 10px;
  font-size: 80%;
  width: 100px;
  bottom: 100%;
}

.remark:hover .remark-window
{
  display: block;
}

SPAN.House-Rule
{
  border-bottom-color: #880000;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}

SPAN.Estimation
{
  border-bottom-color: #008800;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}

SPAN.computed
{
    border-bottom-color: #8888FF;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

DIV.base-values
{
  border-top: 1px solid #aaa;
  font-size: small;
  margin-top: 10px;
  padding-top: 10px;
}

DIV.base-title
{
  color: #888;
  text-align: right;
  border-bottom: solid 1px #aaa;
  margin-bottom: 5px;
  font-size: x-small;
}

SPAN.base-text
{
  background-color: #eee;
  padding: 3px 6px 3px 6px;
  min-width: 100px;
  display: inline-block;
  border-radius: 10px 0 0 0;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.longtext
{
  width: 100%;
}

SPAN.House-Rule .remark-window
{
  border-color: #AA0000;
  color:        #440000;
  background:   #ffffee;
}

SPAN.Estimation .remark-window
{
  border-color: #00AA00;
  color:        #004400;
  background:   #eeffee;
}


/******************************************************************************
 * admin                                                                      *
 *****************************************************************************/

#admin-events DIV.event
{
  color: #000088;
}

#admin-events DIV.event, #admin-logs DIV.log
{
  clear:    both;
  position: relative;
}

#admin-events DIV.event DIV.date, #admin-logs DIV.log DIV.date
{
  width: 10em;
  float: left;
}

#admin-logs
{
}

#admin-logs DIV.log.ERROR.WARNING.INFO
{
  color: #880000;
}

#admin-logs DIV.log.WARNING.INFO.IMPORTANT
{
  color: #888800;
}

#admin-logs DIV.log.INFO.IMPORTANT
{
  color: #008800;
}

#admin-log DIV.log.STATUS
{
  color: #008888;
}

#admin-log DIV.log.DEBUG.COMPLETE
{
  color:   grey;
  display: none;
}

#admin-log DIV.log.COMPLETE
{
  color:   #CCCCCC;
  display: none;
}

SELECT.admin-button
{
  float: right;
}

/******************************************************************************
 * main page
 *****************************************************************************/

.main-campaign
{
  display: block;
  border: 1px solid #aaf;
  min-height: 50px;
  position: relative;
  padding: 20px 10px 10px 10px;
}

.main-campaign-title
{
  position: absolute;
  left: 10px;
  top: -14px;
  padding: 5px;
  color: #000098 !important;
  background-color: white;
}

.symbol
{
  font-size: 12px;
}

.plusone
{
  position: absolute;
  left: 10px;
}

/******************************************************************************
 * PDF printing
 *****************************************************************************/

@media print
{
  #header,
  DIV.footer,
  DIV.title-actions,
  DIV.section-title
  {
    display: none;
  }

  DIV.page
  {
    padding: 0;
  }

  .entrytitle
  {
    margin: 0 0 0 170px;
  }

  BODY
  {
    font-size: 8pt;
  }

  @page
  {
    margin: 5mm;
    size: A4 portrait;
  }

  .clear.title-end
  {
    margin-top: 20px;
    height: 20px;
    width: 100%;
  }

  .value-label-container,
  .value-content
  {
    -webkit-print-color-adjust: exact;
  }

  .term
  {
    border:none !important;
  }
}

BODY.print
{
  padding: 10px;
}

.flexbox
{
  display: -webkit-flex;
  display: flex;
}

.flex-1
{
  -webkit-flex: 1;
}

.flex-2
{
  -webkit-flex: 2;
}

.flex-3
{
  -webkit-flex: 3;
}

/*** NEW STYLES BELOW ****/


/******************************************************************************
 * Entry pages
 *****************************************************************************/

.entry
{
  position: relative;
}

.entry .values
{
  margin-top: 10px;
}

.entry .toolbar
{
  width: 40px;
  top: -33px;
  bottom: 0;
  position: absolute;
  left: -50px;
  background: rgba(0, 0, 0, 0.05);
}

.entry .toolbar:hover
{
  background: rgba(0, 0, 0, 0.1);
}

.entry .toolbar .actions
{
  position: fixed;
  top: 120px;
  left: 5px;
}

.entry .toolbar .actions .action
{
  display: block;
  margin-bottom: 5px;
}

.entry .toolbar .actions .action
{
  cursor: pointer;
  z-index: 2;
  position: relative;
  opacity: 0.1;
}

.entry .toolbar:hover .actions .action
{
  opacity: 1.0;
}

.entry .title
{
  position: relative;
  font-size: 24px;
  font-weight: bold;
  padding-right: 50px;
}

.entry .title-container
{
  margin-bottom: 15px;
}

.entry .title .decoration
{
   right: 0;
   bottom: -4px;
   width: 100%;
   height: 2px;
   position: absolute;  
}

.entry ._new_.images
{
  margin: -10px 30px 20px 0;
  float: left;
  width: 112px;
}

.entry .image-link
{
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: 1px 1px 3px #777;
  width: 112px;
  line-height: 112px;
  display: inline-block;
  margin-bottom: 5px;
  text-align: center;
}

.entry .image-link:hover
{
  border: 1px solid #aaa;
}

.entry ._new_.main.image,
.entry ._new_.other.image
{
  vertical-align: middle;
}

.entry ._new_value._new_description,
.entry ._new_value._new_short-description
{
  margin-bottom: 10px;
}

.entry ._new_value
{
  margin-top: 5px;
}

.entry ._new_value ._new_value-label
{
  display: inline-block;
  font-weight: bold;
  width: 150px;
}

.entry ._new_value ._new_value-content
{
  display: inline-block;
}

/******************************************************************************
 * Edit pages
 *****************************************************************************/
 
.edit-dialog .ui-dialog-content 
{
  padding: 0;
}

.edit-dialog .ui-dialog-title
{
  font-size: 11px;
}
 
 .edit 
 {
   position: relative;
   height: 100%;
 }  

.edit .scroll 
{
  height: 100%;
  overflow: scroll;
}
 
 .edit .values 
 {
   margin: 10px;
   display: table;
 }
 
 .edit .value 
 {
   display: table-row;
 }
 
 .edit .label
 {
   display: table-cell;
   text-align: right;
   font-weight: bold;
   padding: 5px 10px 4px;
   position: relative;
   vertical-align: middle;
   white-space: nowrap;
 }
 
 .edit .label-text
 {
   position: relative;
   display: inline-block;   
 }
 
 .edit .label-decoration
 {
   right: 0;
   bottom: -4px;
   width: 100%;
   height: 2px;
   position: absolute;
 }
 
 .edit.character .label-decoration
 {
   background: -webkit-linear-gradient(left, transparent 0%, #39f 100%);
 }
 
 .edit .field
 {
   display: table-cell;
   font-size: 15px;
   padding: 3px;
   width: 100%;
   box-sizing: border-box;
 }
 
 .edit SELECT.field
 {
   width: auto;
 }
 
 .edit .field.invalid
 {
  color: #800;
  background-color: #fff0f0;
  border: 2px inset #800;   
 }
 
 .edit .images 
 {
   padding: 20px 20px 0 20px;
 }
 
 .edit .images .image 
 {
   display: inline-block;
   position: relative;
   margin-right: 2px;
   cursor: pointer;
 }
 
 .edit .images .image:hover .delete-horizontal,
 .edit .images .image:hover .delete-vertical
 {
   display: block;
 }
 
.edit .images .image .delete-horizontal 
{
  position: absolute;
  left: 0;
  right:0;
  top: 50%;
  height: 8px;
  margin-top: -4px;
  z-index: 1;
  background-color: #800;
  display: none;
}

.edit .images .image .delete-vertical 
{
  position: absolute;
  left: 50%;
  width: 8px;
  margin-left: -4px;
  bottom: 0;
  top: 0;
  z-index: 1;
  background-color: rgba(175, 0, 0, .5);
  display: none;
}
 
 .edit .images .image .caption
 {
   color: #ccc;
   text-align: center;
   width: 100%;
   font-size: 10px;
   margin-bottom: 10px;
 }
 
 .edit .upload
 {
  width: 200px;
  height: 60px;
  position: relative;
  border: none;
  margin-left: 10px;
}

.edit .actions
{
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.05);
  width: 100%;
  z-index: 2;
  padding: 10px 0 5px 0;
}

.edit .actions:hover
{
  background: rgba(0, 0, 0, 0.1);
}

.actions .buttons {
  margin-left: 50%;
  position: relative;
  display: inline-block;
}

.actions .buttons .move 
{
  margin-left: -50%;
}

.edit .actions .action
{
  cursor: pointer;
  z-index: 2;
  position: relative;
  opacity: 0.1;
}

.edit .actions:hover .action
{
  opacity: 1.0;
}

.actions-spacer {
  height: 40px;
}
