<?xml version="1.0" encoding="utf-8"?>
<web-app id="jdmaixit" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>config</servlet-name>
    <servlet-class>net.ixitxachitls.server.servlets.ConfigServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>net.ixitxachitls.dma.server.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>net.ixitxachitls.dma.server.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>css</servlet-name>
    <servlet-class>net.ixitxachitls.server.servlets.TemplateServlet</servlet-class>
    <init-param>
      <param-name>type</param-name>
      <param-value>text/css</param-value>
    </init-param>
    <init-param>
      <param-name>root</param-name>
      <param-value>/css</param-value>
    </init-param>
    <init-param>
      <param-name>cache</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>prefix</param-name>
      <param-value>web.template.css</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>html</servlet-name>
    <servlet-class>net.ixitxachitls.dma.server.servlets.StaticPageServlet</servlet-class>
    <init-param>
      <param-name>root</param-name>
      <param-value>/html</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>config</servlet-name>
    <url-pattern>/configuration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/actions/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/actions/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>css</servlet-name>
    <url-pattern>/css/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>html</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>



<!--

  <servlet>
    <servlet-name>icons</servlet-name>
    <servlet-class>net.ixitxachitls.server.servlets.FileServlet</servlet-class>
    <init-param>
      <param-name>type</param-name>
      <param-value>image/png</param-value>
    </init-param>
    <init-param>
      <param-name>root</param-name>
      <param-value>/icons</param-value>
    </init-param>
    <init-param>
      <param-name>cache</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>icons</servlet-name>
    <url-pattern>/icons/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>js</servlet-name>
    <servlet-class>net.ixitxachitls.server.servlets.FileServlet</servlet-class>
    <init-param>
      <param-name>type</param-name>
      <param-value>text/javascript</param-value>
    </init-param>
    <init-param>
      <param-name>root</param-name>
      <param-value>/js</param-value>
    </init-param>
    <init-param>
      <param-name>cache</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>js</servlet-name>
    <url-pattern>/js/*</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>DMARequest</filter-name>
    <filter-class>net.ixitxachitls.dma.server.filters.DMAFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DMARequest</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
-->
</web-app>