/** Soy test file. */

/**
 * The templates for testing.
 *
 */

{namespace dma.errors autoescape="contextual"}

/**
 * Testing invalid page.
 *
 * @param name
 */
{template .invalidPage}
  invalid page: {$name}
{/template}
