<?xml version="1.0" encoding="utf-8"?>
<web-app id="jdmaixit" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <!-- app stats -->
  <filter>
    <filter-name>appstats</filter-name>
    <filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>
    <init-param>
      <param-name>logMessage</param-name>
      <param-value>Appstats available: /appstats/details?time={ID}</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>appstats</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>appstats</servlet-name>
    <servlet-class>com.google.appengine.tools.appstats.AppstatsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>appstats</servlet-name>
    <url-pattern>/__appstats/*</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Appstats</web-resource-name>
      <url-pattern>/__appstats/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

  <servlet>
    <servlet-name>config</servlet-name>
    <servlet-class>net.ixitxachitls.server.servlets.ConfigServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>net.ixitxachitls.dma.server.servlets.RegisterServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>css</servlet-name>
    <servlet-class>net.ixitxachitls.server.servlets.TemplateServlet</servlet-class>
    <init-param>
      <param-name>type</param-name>
      <param-value>text/css</param-value>
    </init-param>
    <init-param>
      <param-name>root</param-name>
      <param-value>/css</param-value>
    </init-param>
    <init-param>
      <param-name>cache</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>prefix</param-name>
      <param-value>web.template.css</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>html</servlet-name>
    <servlet-class>net.ixitxachitls.dma.server.servlets.StaticPageServlet</servlet-class>
    <init-param>
      <param-name>root</param-name>
      <param-value>/html</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>entry</servlet-name>
    <servlet-class>net.ixitxachitls.dma.server.servlets.EntryServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>entries</servlet-name>
    <servlet-class>net.ixitxachitls.dma.server.servlets.EntryListServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>index</servlet-name>
    <servlet-class>net.ixitxachitls.dma.server.servlets.IndexServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>library</servlet-name>
    <servlet-class>net.ixitxachitls.dma.server.servlets.LibraryServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>save</servlet-name>
    <servlet-class>net.ixitxachitls.dma.server.servlets.SaveActionServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>blobimport</servlet-name>
    <servlet-class>net.ixitxachitls.dma.server.servlets.BlobImportServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>file</servlet-name>
    <servlet-class>net.ixitxachitls.dma.server.servlets.BlobServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>fileupload</servlet-name>
    <servlet-class>net.ixitxachitls.dma.server.servlets.BlobUploadServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>admin</servlet-name>
    <servlet-class>net.ixitxachitls.dma.server.servlets.AdminServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>autocomplete</servlet-name>
    <servlet-class>net.ixitxachitls.dma.server.servlets.Autocomplete</servlet-class>
  </servlet>

  <servlet>
    <display-name>Remote API Servlet</display-name>
    <servlet-name>RemoteApiServlet</servlet-name>
    <servlet-class>com.google.apphosting.utils.remoteapi.RemoteApiServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>config</servlet-name>
    <url-pattern>/configuration</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/actions/register</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>css</servlet-name>
    <url-pattern>/css/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>html</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>entry</servlet-name>
    <url-pattern>/_entry/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>entries</servlet-name>
    <url-pattern>/_entries/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/_index/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>library</servlet-name>
    <url-pattern>/library</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>save</servlet-name>
    <url-pattern>/actions/save</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RemoteApiServlet</servlet-name>
    <url-pattern>/remote_api</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>blobimport</servlet-name>
    <url-pattern>/__import</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>fileupload</servlet-name>
    <url-pattern>/fileupload</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>file</servlet-name>
    <url-pattern>/file/*</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>autocomplete</servlet-name>
    <url-pattern>/autocomplete/*</url-pattern>
  </servlet-mapping>

  <!-- this does not work on the dev server; you have to remove this to be -->
  <!-- able to upload to the dev server. -->
  <!--
  <security-constraint>
    <web-resource-name>blobimport</web-resource-name>
    <web-resource-collection>
      <url-pattern>/__import</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  -->

  <filter>
    <filter-name>DMARequest</filter-name>
    <filter-class>net.ixitxachitls.dma.server.filters.DMAFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>DMARequest</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>Forwarding</filter-name>
    <filter-class>net.ixitxachitls.dma.server.filters.ForwardingFilter</filter-class>
    <init-param>
      <param-name>forwards</param-name>
      <param-value>
        ^/user/me$
        /_entry/base character/@user

        ^/user/([^/]+)/products$
        /_entries/base character/$1/product

        ^/user/([^/]+)/product/([^/]+)$
        /_entry/base character/$1/product/$2

        ^/user/([^/]+)$
        /_entry/base character/$1

        ^/product/([^/]+)$
        /_entry/base product/$1

        ^/item/([^/]+)$
        /_entry/base item/$1

        ^/campaign/([^/]+)$
        /_entry/base campaign/$1

        ^/campaign/([^/]+)/([^/]+)$
        /_entry/base campaign/$1/campaign/$2

        ^/products/(.*)$
        /_index/base product/$1

        ^/items/(.*)$
        /_index/base item/$1

        ^/users$
        /_entries/base character

        ^/products$
        /_entries/base product

        ^/items$
        /_entries/base item

        ^/campaigns$
        /_entries/base campaign
      </param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>Forwarding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

<!--

  <servlet>
    <servlet-name>icons</servlet-name>
    <servlet-class>net.ixitxachitls.server.servlets.FileServlet</servlet-class>
    <init-param>
      <param-name>type</param-name>
      <param-value>image/png</param-value>
    </init-param>
    <init-param>
      <param-name>root</param-name>
      <param-value>/icons</param-value>
    </init-param>
    <init-param>
      <param-name>cache</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>icons</servlet-name>
    <url-pattern>/icons/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>js</servlet-name>
    <servlet-class>net.ixitxachitls.server.servlets.FileServlet</servlet-class>
    <init-param>
      <param-name>type</param-name>
      <param-value>text/javascript</param-value>
    </init-param>
    <init-param>
      <param-name>root</param-name>
      <param-value>/js</param-value>
    </init-param>
    <init-param>
      <param-name>cache</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>js</servlet-name>
    <url-pattern>/js/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
-->
</web-app>