/* This file contains the css for the gui javascript library */

/******************************************************************************
 * busy
 *****************************************************************************/

DIV.busy
{
  position:           fixed;
  top:                40%;
  left:               40%;
  right:              40%;
  z-index:            100;
  border-style:       ridge;
  border-color:       #884;
  border-width:       2px;
  padding:            20px;
  text-align:         center;
  background-color:   #ffc;
  -webkit-box-shadow: 3px 3px 7px #777;
  border-radius:      22px;
  font-size:          90%;
}

DIV.busy IMG
{
  vertical-align: middle;
  padding-right:  0.5em;
}

/******************************************************************************
 * nofitications
 *****************************************************************************/

DIV.-gui-notification
{
  height:      100px;
  overflow:    hidden;
  width:       250px;
  border:      ridge 2px;
  padding:     5px;
  position:    fixed;
  bottom:      -150px;
  right:       10px;
  cursor:      pointer;
  box-shadow:  -3px -3px 7px #444;
  font-size:   small;
}

IMG.-gui-notification-image
{
  float:         left;
  margin-top:    35px;
  padding-right: 5px;
}

DIV.-gui-notification-text
{
  height:         100px;
  overflow:       auto;
  text-align:     center;
  display:        table-cell;
  vertical-align: middle;
}

DIV.-gui-notification-alert
{
  background-color: #fcc;
  border-color:      red;
}

DIV.-gui-notification-info
{
  background-color: #ccf;
  border-color:      blue;
}

DIV.-gui-notification-debug
{
  background-color: #cfc;
  border-color:      green;
}
