/* The main CSS file for jDMA. */

/******************************************************************************
 * general page layout
 *****************************************************************************/

/* the page height (for firefox) */
BODY, HTML
{
  min-height: 100%;
  height:     100%;
  width:      100%;
  padding:    0;
  margin:     0;
}

/* basic font and background */
BODY
{
  font-family:      Helvetica, Arial, sans-serif;
  font-size:        100%;
  color:            black;
  background-color: white;
  height:           100%;
  width:            100%;
}

/******************************************************************************
 * page
 *****************************************************************************/

#page-container
{
  min-height: 100%;
}

DIV.page
{
  padding: 80px 1em 20px 2em;
}

H1
{
  font-weight:   bolder;
  font-size:     x-large;
  color:         #800;
  margin:        0;
  border-bottom: 1px solid #800;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

.entrytitle
{
  margin-left: 330px;
  margin-top: 40px;
}

.title-actions
{
  float: right;
  margin-top: 5px;
}

H2
{
  font-weight: bold;
  font-size: large;
  color: #880000;
  padding: 1em 0 1em 0;
  margin: 0;
}

DIV.subtitletext, DIV.subtitletext A
{
  font-size:  x-small;
  color:      #CCCCCC;
}

.doc-link
{
  float:       right;
  margin-left: 5px;
}

.doc-link-icon
{
  margin-top: -2px;
}

.doc-link-mail
{
  margin-top: 10px;
}

.dma-formatted, .text-formatted
{
  white-space: pre;
  font-family: monospace;
}

/******************************************************************************
 * special property classes
 *****************************************************************************/

/* alignments */
.align-left    { text-align: left;    }
.align-right   { text-align: right;   }
.align-center  { text-align: center;  }
.align-justify { text-align: justify; }

/* font styles */
.font-sansserif { font-family: Helvetica, Arial, sans-serif;    }
.font-serif     { font-family: 'Times New Roman', Times, serif; }

/* font sizes */
.size-tiny     { font-size: xx-small;  }
.size-footnote { font-size: x-small;   }
.size-script   { font-size: smaller;   }
.size-small    { font-size: small;     }
.size-normal   { font-size: medium;    }
.size-large    { font-size: larger;    }
.size-larger   { font-size: larger;    }
.size-largest  { font-size: x-large;   }
.size-huge     { font-size: xx-large;  }
.size-huger    { font-size: 500%;      }

/* special colors */
.color-light { color: #AAAAAA; }

/******************************************************************************
 * header
 *****************************************************************************/

#header
{
  border-bottom:    solid 1px #88a;
  background-color: #eef;
  width:            100%;
  position:         fixed;
  font-size:        14px;
  padding:          5px 10px;
  box-shadow:       0 1px 3px #777;
  z-index:          1;
  line-height:      20px;
}

#header, #header A
{
  color:            #000098;
}

#header A:hover
{
  color:            #ee9e4b;
}

#header-left
{
  margin-bottom: 1px;
}

#header-right, #header-rightold
{
  float:        right;
  text-align:   right;
  margin-right: 20px;
}

#navigation
{
}

.sprite
{
  background-image: url('/icons/icons.png');
  width:            13px;
  height:           13px;
  margin-right:     2px;
  display:          inline-block;
  cursor:           pointer;
}

.sprite:hover
{
  background-image: url('/icons/icons-hover.png');
}

.sprite.large
{
  background-image: url('/icons/icons-large.png');
  width:            19px;
  height:           25px;
}

.sprite.large:hover
{
  background-image: url('/icons/icons-large-hover.png');
}

#home
{
  background-position: -65px;
}

#login-icon, .login
{
  background-position: 0;
}

#logout-icon
{
  background-position: -13px;
}

.library.sprite
{
  background-position: -26px;
}

.search.sprite
{
  background-position: -52px;
}

.about.sprite
{
  background-position: -39px;
}

.document.sprite
{
  background-position: 0 0;
}

.print.sprite
{
  background-position: -95px 0;
  width: 24px;
}

#search INPUT
{
  font-size: 10px;
  vertical-align: top;
  margin-right: 5px;
  display: none;
}

A.navigation-link
{
  color: inherit;
}

.navigation-entry
{
  padding-left: 5px;
}

DIV.entry-nav
{
  text-align: center;
  margin:     5px 0;
}

DIV.entry-nav DIV
{
  margin: 0 2px;
}

DIV.first
{
  background-position: -78px;
}

DIV.previous
{
  background-position: -91px;
}

DIV.index
{
  background-position: -130px;
}

DIV.next
{
  background-position: -104px;
}

DIV.last
{
  background-position: -117px;
}

DIV.add
{
  margin-left:         10px !important;
  background-position: -169px;
}

DIV.remove
{
  background-position: -182px;
}

DIV.delete.sprite
{
  background-position: -86px;
  width: 38px;
}

/******************************************************************************
 * about
 *****************************************************************************/

DIV.ixitxachitl
{
  background-image: url('/icons/Ixitxachitls.png');
  float: right;
  margin-left: 10px;
  width: 145px;
  height: 180px;
}

DIV.ixitxachitl:hover
{
  background-image: url('/icons/Ixitxachitls-highlight.png');
}

/******************************************************************************
 * validation
 ******************************************************************************/

INPUT.invalid
{
  color:            #800;
  background-color: #fff0f0;
}

/******************************************************************************
 * register
 *****************************************************************************/

#register LABEL
{
  padding-top: 5px;
  font-size:   75%;
  color:       #888;
  display:     block;
  text-align:  left;
}

#register LABEL INPUT
{
  font-size:    120%;
  border-style: solid;
  border-width: 1px;
  border-color: #008;
  display:      block;
}

DIV.register LABEL
{
  font-size:  75%;
  color:      #888;
  display:    block;
  text-align: left;
}

#register-error
{
  color:      #800;
}

/******************************************************************************
 * footer
 *****************************************************************************/

/* the page footer */
DIV.footer
{
  background-color: #eee;
  color:       #4b3500;
  font-size:   75%;
  text-align:  center;
  padding:     5px;
  height:      50px;
  margin-top:  -60px;
  position:    relative;
}

#footer-spacer
{
  height: 60px;
}

DIV.footer DIV.version
{
  font-size:     70%;
  margin-bottom: 3px;
}

DIV.footer IMG
{
  padding: 2px;
}


/******************************************************************************
 * entry
 *****************************************************************************/

IMG.main.image
{
  border:     1px solid #ccc;
  padding:    5px;
  margin:     0 10px 0 0;
  display:    inline-block;
  box-shadow: 1px 1px 3px #777;
  float:      left;
  position:   relative;
}

DIV.desc
{
  margin-left: 330px;
  position:    relative;
}

DIV.short-description
{
  margin-top: 15px;
  color:      #888;
}

DIV.files
{
  margin:      10px 0;
  padding-top: 2px;
  clear:       both;
}

DIV.nofiles
{
  min-height:  20px;
  min-width:   50px;
}

DIV.nofiles:hover
{
  outline: 1px dashed #ccc;
}

DIV.file
{
  display: inline-block;
  position: relative;
}

DIV.file IMG
{
  border:     1px solid #ccc;
  max-width:  50px;
  max-height: 50px;
  margin:     2px;
  padding:    2px;
}

DIV.values
{
  margin-bottom: 20px;
}

DIV.value
{
  width:         100%;
  margin-bottom: 1px;
  position:      relative;
}

DIV.value:hover DIV.value-label-container
{
  background-color: #800;
}

DIV.value-label-container
{
  position:    absolute;
  height:      100%;
  width:       150px;
  text-align:  right;
  font-weight: bold;
}

DIV.value-label
{
  padding:     5px;
}

DIV.value-content
{
  padding:          5px;
  background-color: #eee;
  margin-left:      151px;
  min-height:       1.125em;
  line-height:      1.125em;
  display:          -webkit-box;
  -webkit-box-orient: horizontal;
}

DIV.value-content.value-noedit
{
  background-color: #ddd;
}

DIV.textblock.desc
{
  border:     none;
  margin:     0;
  padding:    0 0 1em 0;
  color:      #444;
  text-align: justify;
}

DIV.item-reference
{
  display: inline-block;
  border: 1px solid #000098;
  background-color: #eef;
  border-radius: 3px;
  padding: 4px;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1px;
}

DIV.item-reference:hover
{
  background-color: #cce;
}

DIV.item-overview
{
  -webkit-column-count: 2;
  -webkit-column-rule: 1px solid #ccc;
  column-count: 2;
  column-fill: auto;
}

DIV.item-overview-entry
{
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

DIV.item-overview-weight,
DIV.item-overview-value
{
  width: 100px;
  float: right;
}

DIV.item-overview-desc
{
  margin-left: 20px;
  font-size: small;
}

DIV.item-overview-contents
{
  margin-left: 20px;
  border-left: 4px solid orange;
  padding-left: 5px;
}

DIV.item-overview-values
{
  margin-left: 20px;
  font-size: small;
}

SPAN.item-overview-value-dm,
DIV.item-overview-value-dm
{
  color: #009;
  font-style: italic;
}

IMG.item-image
{
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

/******************************************************************************
 * entry lists
 *****************************************************************************/

TABLE.entrylist
{
  padding: 0 10px;
  width:  100%;
}

TABLE.entrylist TR:nth-child(even)
{
  background-color: #eaeaea;
}

TABLE.entrylist TR:nth-child(odd)
{
  background-color: #fafafa;
}

TABLE.entrylist TR.title:hover
{
  background-color: inherit;
  color:            inherit;
}

TABLE.entrylist TR:hover
{
  background-color: #800;
  color:            white;
  cursor:           pointer;
}

TABLE.entrylist TR:hover A
{
  color: #ccc;
}

TABLE.entrylist TD
{
  padding: 4px;
}

TABLE.entrylist TD.title
{
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-bottom: 4px;
  white-space:   nowrap;
}

TABLE.entrylist TD.short DIV
{
  margin-top: 0;
}

TABLE.entrylist TR:hover TD.short DIV
{
  color: #ccc;
}

A.paginate-next
{
  margin-right: 10px;
  float:        right;
  font-size:    small;
}

A.paginate-previous
{
  margin-left: 10px;
  font-size:   small;
  float:       left;
}

TABLE.entrylist TD.label
{
  width: 1%;
}

TABLE.entrylist TD
{
  vertical-align: top;
}

TABLE.entrylist TD.id,
TABLE.entrylist TD.system
{
  width: 10%;
}

TABLE.entrylist TD.worlds
{
  width: 20%;
}

TABLE.entrylist TD.producttitle,
TABLE.entrylist TD.short
{
  width: 30%;
}

.list-extensions
{
  width: 0;
  text-align: right;
}

.list-name,
.list-value,
.list-weight,
.list-worlds,
.list-extensions
{
  white-space: nowrap;
}

/******************************************************************************
 * library
 *****************************************************************************/

DIV.library-entry
{
  display:        inline-block;
  width:          150px;
  text-align:     center;
  vertical-align: top;
}

DIV.library-indexes {
}

A.library-index
{
  display:       block;
  overflow:      hidden;
  text-overflow: ellipsis;
  font-size:     small;
}

DIV.index-overview
{
  float:            left;
  width:            200px;
  background-color: #eee;
  margin:           4px;
  padding:          4px;
  text-align:       center;
  border-radius:    5px;
  box-shadow:       0 1px 3px #777;
  height:           1em;
  overflow:         hidden;
  text-overflow:    ellipsis;
}

A.library-title.type-image
{
  float: none;
}

/******************************************************************************
 * type colors
 *****************************************************************************/

.value.base-character .value-label-container,
.value.character .value-label-container
{
  color:            white;
  background-color: $color_Character;
}

.value.base-product .value-label-container,
.value.product .value-label-container
{
  color:            white;
  background-color: $color_Product;
}

.value.base-campaign .value-label-container,
.value.campaign .value-label-container
{
  color:            black;
  background-color: $color_Campaign;
}

.value.base-item .value-label-container,
.value.item .value-label-container
{
  color:            white;
  background-color: $color_Item;
}

/******************************************************************************
 * overlays
 *****************************************************************************/

DIV.overlay
{
  position: relative;
}

IMG.overlay
{
  position: absolute;
}

IMG.overlay.right-bottom
{
  bottom: 0;
  right: 0;
}

IMG.overlay.left-top
{
  left: 0;
}

/******************************************************************************
 * jQuery overrides
 *****************************************************************************/

.dialog
{
  font-size:  90%;
  box-shadow: 3px 3px 7px #777;
}

/******************************************************************************
 * positioning and styles
 *****************************************************************************/

DIV.clear
{
  clear: both;
}

DIV.clear-left
{
  clear: left;
}

DIV.clear-right
{
  clear: right;
}

.disabled
{
  opacity: 0.5;
}

/* error, colored text */
.error, .error A { color: #AA0000; }
.warning, .warning A { color: #FF8800; }
DIV.snippet { color: #aaa; font-size: 80%; }

/* inline table layouting */
SPAN.table      { display: inline-table; }
SPAN.table-row  { display: table-row;  }
SPAN.table-cell
{
  display:       table-cell;
  padding-right: 5px;
  padding-left:  5px;
}

/******************************************************************************
 * edit
 *****************************************************************************/

INPUT.edit, TEXTAREA.edit
{
  font-size:     100%;
  width:         100%;
  box-sizing:    border-box;
}

DIV.edit-container
{
  position:      relative;
  padding:       0 5px 0 10px;
  margin-left:   15px;
  box-sizing:    border-box;
  -webkit-box-flex: 1;
  min-height:    30px;
}

.edit-list-multiple
{
  display: -webkit-box;
}

DIV.flex
{
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  box-flex: 1;
}

DIV.edit-note
{
  background-color: #ffd700;
  border-color:     #daa520;
  border-style:     solid;
  border-width:     1px 1px 0 1px;
  position:         fixed;
  bottom:           0;
  max-width:        80%;
  border-radius:    10px 10px 0 0;
  padding:          8px;
  display:          none;
  z-index:          1;
  box-shadow:       1px 1px 3px #777;
}

DIV.edit-undefine
{
  background-position: -156px;
  position:            absolute;
  left:                -4px;
  top:                 3px;
}

DIV.edit-cancel
{
  background-position: -143px;
  position:            absolute;
  left:                -4px;
  bottom:              0;
}

DIV.edit-list-element
{
  position: relative;
}

DIV.edit-list-remove
{
  background-position: -182px;
  position:            absolute;
  right:               -9px;
  top:                 0;
}

DIV.edit-list-add
{
  background-position: -169px;
  position:            absolute;
  right:               -9px;
  bottom:              0;
}

.edit-undefined
{
  opacity: 0.5;
}

.edit-label
{
  position:    absolute;
  color:       #aaa;
  right:       8px;
  bottom:      3px;
  font-size:   x-small;
  font-weight: normal;
}

DIV.label-leader
{
  width: 10%;
}

DIV.label-title
{
  width: 70%;
}

DIV.label-name,
DIV.label-product
{
  width: 60%;
}

DIV.label-job,
DIV.label-description,
DIV.label-pages
{
  width: 38%;
}

SPAN.date DIV,
DIV.label-part,
DIV.label-file
{
  display: inline-block;
  width: auto;
}

DIV.label-number
{
  width: 20%;
}

DIV.unparsed
{
  background-color: #fcc;
}

DIV.unparsed-rest
{
  color: #800;
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: small;
  font-style: italic;
}

IFRAME.upload
{
  background: white;
  opacity: 0.8;
  z-index: 2;
  position: absolute;
}

IFRAME.upload-files
{
  display: inline-block;
  border: 1px solid black;
}

DIV.file-upload
{
  text: black;
  opacity: 1;
}

DIV.image-cancel
{
  background-position: -143px;
  position:            absolute;
  left:                5px;
  bottom:              5px;
}

DIV.file DIV.remove
{
  position: absolute;
  bottom:   5px;
  right:    5px;
}

DIV.edit-checkbox
{
  display: inline-block;
  width: 110px;
}

DIV.edit-checkbox INPUT
{
  margin-right: 5px;
}

/******************************************************************************
 * actions
 *****************************************************************************/

DIV.action-container
{
  top: 52px;
  left: 32px;
  position: fixed;
  border-right: 1px solid #88a;
  border-left: 1px solid #88a;
  border-bottom: 1px solid #88a;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #eef;
  padding: 5px 10px 0 10px;
  box-shadow: 1px 1px 3px #777;
  opacity: 0.3;
}

DIV.action-container:hover
{
  opacity: 1;
}

#actions
{
  display: none;
}

.action-button {
  padding-left: 5px;
  cursor:  pointer;
  display: inline-block;
}

#action-save
{
  background-position: -20px 0;
  height: 25px !important;
  width: 26px !important;
}

#action-cancel
{
  background-position: -47px 0;
  height: 25px !important;
  width: 25px !important;
}

#action-delete
{
  background-position: -71px 0;
  height: 29px !important;
  width: 24px !important;
}

/******************************************************************************
 * general links
 *****************************************************************************/

/* general link style */
A         { text-decoration: none; color: #333333; }

/* link with no additional color */
A.nocolor { font-weight: inherit; color: inherit; }

/* a bold link */
A.bold { font-weight: bold; }

/* links not yet visited */
A:link    { font-style: normal; }
A.nocolor:link { font-weight: inherit; }
A.bold:link { font-weight: bold; }

/* already visited link */
A:visited { font-style: normal; }
A.nocolor:visited { font-weight: inherit; }
A.bold:visited { font-weight: bold; }

/* links with the cursor on top of them */
A:hover   { font-style: normal; text-decoration: underline; }
A.bold:hover { font-weight: bold; }

/******************************************************************************
 * dma links
 *****************************************************************************/

/* now the colors for each specific link */
A.Product         { color: $color_Product }
A.Product:visited { color: $lightcolor_Product }
A.Product:hover   { color: $hilightcolor_Product }

A.Campaign         { color: $color_Campaign }
A.Campaign:visited { color: $lightcolor_Campaign }
A.Campaign:hover   { color: $hilightcolor_Campaign }

A.Place           { color: $color_Place }
A.Place:visited   { color: $lightcolor_Place }
A.Place:hover     { color: $hilightcolor_Place }

A.NPC             { color: $color_NPC }
A.NPC:visited     { color: $lightcolor_NPC }
A.NPC:hover       { color: $hilightcolor_NPC }

A.Group           { color: $color_Group }
A.Group:visited   { color: $lightcolor_Group }
A.Group:hover     { color: $hilightcolor_Group }

A.Monster         { color: $color_Monster }
A.Monster:visited { color: $lightcolor_Monster }
A.Monster:hover   { color: $hilightcolor_Monster }

A.God             { color: $color_God }
A.God:visited     { color: $lightcolor_God }
A.God:hover       { color: $hilightcolor_God }

A.Item            { color: $color_Item }
A.Item:visited    { color: $lightcolor_Item }
A.Item:hover      { color: $hilightcolor_Item }

A.Spell           { color: $color_Spell }
A.Spell:visited   { color: $lightcolor_Spell }
A.Spell:hover     { color: $hilightcolor_Spell }

A.Event           { color: $color_Event }
A.Event:visited   { color: $lightcolor_Event }
A.Event:hover     { color: $hilightcolor_Event }

A.Class           { color: $color_Class }
A.Class:visited   { color: $lightcolor_Class }
A.Class:hover     { color: $hilightcolor_Class }

A.Feat            { color: $color_Feat }
A.Feat:visited    { color: $lightcolor_Feat }
A.Feat:hover      { color: $hilightcolor_Feat }

A.Skill           { color: $color_Skill }
A.Skill:visited   { color: $lightcolor_Skill }
A.Skill:hover     { color: $hilightcolor_Skill }

/******************************************************************************
 * Index
 *****************************************************************************/

DIV.index-group
{
  display: none;
}

DIV.index-nested
{
  background-color: #aaa;
}

DIV.index-overview:hover,
A.type-index:hover
{
  background-color: #800;
  color:            white;
  text-decoration:  none;
}

A.index-link:hover
{
  text-decoration:  none;
}

/******************************************************************************
 * Types
 ******************************************************************************/

A.type-image {
  color:        #ccc;
  text-align:   center;
  font-size:    small;
  float:        left;
  margin-right: 20px;
}

A.type-image:hover {
  color:           #444;
  text-decoration: none;
}

/******************************************************************************
 * Captions
 *****************************************************************************/

.caption-container {
  display: inline-block;
  text-align: center;
  font-size:  small;
  color:      #ccc;
  margin:     2px;
}

A.icon-link {
  color: #ccc;
}

.caption-container:hover,
A.icon-link:hover {
  color:           #444;
  text-decoration: none;
}

/******************************************************************************
 * Windowed
 *****************************************************************************/

/* windows that are activated by mouse-over */
SPAN.windowed
{
  position: relative;
}

SPAN.windowed:hover .window
{
  display: block;
}

.window
{
  display:      none;
  position:     absolute;
  top:          100%;
  background:   #eee;
  z-index:      20;
  border:       1px solid #ccc;
  padding:      5px 10px;
  color:        #221;
  font-weight:  normal;
  font-size:    x-small;
  white-space:  nowrap;
  box-shadow:   0 1px 3px #777;
}

SPAN.window.base
{
  bottom: 100%;
  top: auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  font-size: small;
  white-space: nowrap;
}

SPAN.base-value
{
  width: 200px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
}

.term
{
  border-bottom: 1px dotted #888;
  position: relative;
}

.term:hover .explanation
{
  display: block;
}

.explanation
{
  display: none;
  position: absolute;
  z-index: 20;
  padding: 10px;
  white-space: nowrap;
  background: black;
  opacity: 0.6;
  color: white;
  border-radius: 10px;
  font-size: 80%;
}

/******************************************************************************
 * Section
 *****************************************************************************/

DIV.section
{
  position: relative;
}

DIV.section-title
{
  color: #888;
  font-size: small;
  background: url('/icons/bar.png') repeat-x 0 10px;
  padding: 2px 10px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

DIV.section:hover DIV.section-title
{
  width: auto !important;
}

DIV.section.rotated DIV.section-title
{
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: 0 0;
  position: absolute;
  top: 100%;
  left: -22px;
  text-align: center;
  box-sizing:    border-box;
}

SPAN.section-titletext
{
  background-color: white;
  padding: 0 4px;
}

DIV.section-text
{
}

DIV.section.rotated DIV.section-text
{
  display: block;
}

/******************************************************************************
 * Value Hints
 *****************************************************************************/

.remark
{
  position: relative;
}

.remark-window
{
  display: none;
  position: absolute;
  z-index: 20;
  padding: 10px;
  opacity: 0.6;
  border-radius: 10px;
  font-size: 80%;
  width: 100px;
  bottom: 100%;
}

.remark:hover .remark-window
{
  display: block;
}

SPAN.House-Rule
{
  border-bottom-color: #880000;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}

SPAN.Estimation
{
  border-bottom-color: #008800;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}

SPAN.computed
{
    border-bottom-color: #8888FF;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

SPAN.base-value
{
    border-bottom-color: #88FF88;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

DIV.base-values
{
  border-top: 1px solid #aaa;
  font-size: small;
  margin-top: 10px;
  padding-top: 10px;
}

DIV.base-title
{
  color: #888;
  text-align: right;
  border-bottom: solid 1px #aaa;
  margin-bottom: 5px;
  font-size: x-small;
}

SPAN.base-text
{
  background-color: #eee;
  padding: 3px 6px 3px 6px;
  min-width: 100px;
  display: inline-block;
  border-radius: 10px 0 0 0;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.longtext
{
  width: 100%;
}

SPAN.House-Rule .remark-window
{
  border-color: #AA0000;
  color:        #440000;
  background:   #ffffee;
}

SPAN.Estimation .remark-window
{
  border-color: #00AA00;
  color:        #004400;
  background:   #eeffee;
}


/******************************************************************************
 * admin                                                                      *
 *****************************************************************************/

#admin-events DIV.event
{
  color: #000088;
}

#admin-events DIV.event, #admin-logs DIV.log
{
  clear:    both;
  position: relative;
}

#admin-events DIV.event DIV.date, #admin-logs DIV.log DIV.date
{
  width: 10em;
  float: left;
}

#admin-logs
{
}

#admin-logs DIV.log.ERROR.WARNING.INFO
{
  color: #880000;
}

#admin-logs DIV.log.WARNING.INFO.IMPORTANT
{
  color: #888800;
}

#admin-logs DIV.log.INFO.IMPORTANT
{
  color: #008800;
}

#admin-log DIV.log.STATUS
{
  color: #008888;
}

#admin-log DIV.log.DEBUG.COMPLETE
{
  color:   grey;
  display: none;
}

#admin-log DIV.log.COMPLETE
{
  color:   #CCCCCC;
  display: none;
}

SELECT.admin-button
{
  float: right;
}

/******************************************************************************
 * main page
 *****************************************************************************/

.main-campaign
{
  display: block;
  border: 1px solid #aaf;
  min-height: 50px;
  position: relative;
  padding: 20px 10px 10px 10px;
}

.main-campaign-title
{
  position: absolute;
  left: 10px;
  top: -14px;
  padding: 5px;
  color: #000098 !important;
  background-color: white;
}

.symbol
{
  font-size: 12px;
}

/******************************************************************************
 * PDF printing
 *****************************************************************************/

@media print
{
  #header,
  DIV.footer,
  DIV.title-actions,
  DIV.section-title
  {
    display: none;
  }

  DIV.page
  {
    padding: 0;
  }

  .entrytitle
  {
    margin: 0 0 0 170px;
  }

  BODY
  {
    font-size: 8pt;
  }

  @page
  {
    margin: 5mm;
    size: A4 portrait;
  }

  .clear.title-end
  {
    margin-top: 20px;
    height: 20px;
    width: 100%;
  }

  .value-label-container,
  .value-content
  {
    -webkit-print-color-adjust: exact;
  }

  .term
  {
    border:none !important;
  }
}

BODY.print
{
  padding: 10px;
}

